/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2E3CE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin:auto;

}

.content-container {
  width: 90%;
  max-width: 1320px;
  margin: auto;
  padding-block: 5em;

}

.backArrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5em;
  color: #796157;
  font-family: "DM Sans", sans-serif;

  text-decoration: none;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 44px;
  font-style: italic;
  color: #796157;
}

button, .button {
  color: #2C1810;
  background-color: #D9A963;
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: 0.5s;
}

button:hover, .button:hover {
  text-decoration: none;
  background-color: #B99056;
  color: #fff;
  transition: 0.5s;
}

.BookItem {
  display: flex;
  text-decoration: none;
  color: inherit;
  max-width: 360px;
  width: 80%;
  align-items: center;
  margin-bottom: 85px;
}
.BookItem article {
  display: flex;
  align-items: center;
}

.BookItem img {
  border-radius: 5px;
}
.BookItem h2 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 10px;
}

.BookImage {
  width: 206px;
  height: 260px;
  object-position: center;
  object-fit: contain;
}
.BookItem h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 10px;
}
.BookItem p {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: #796157;
  margin-bottom: 10px;
}
.full {
  color: #d9a963;
  font-size: 23px;
}
.empty {
  color: #f2e3ce;
  font-size: 23px;
}
.BookInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 18px;
}
.Rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media all and (max-width: 600px) {
  .BookItem img {
    width: 50%;
  }
}

.full {
  color: #d9a963;
  font-size: 23px;
}
.empty {
  color: #f2e3ce;
  font-size: 23px;
}

